altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
decorator
executing
gitdb
GitPython
idna
importlib-metadata
ipython
jedi
Jinja2
joblib
jsonpickle
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
networkx
numpy
packaging
pandas
parso
pexpect
Pillow
prompt-toolkit
protobuf
ptyprocess
pure-eval
pyarrow
pydeck
Pygments
python-dateutil
pytz
pyvis
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
sonopy
stack-data
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
vaderSentiment
validators
watchdog
wcwidth
zipp
